- name: pgbouncer service resource definition
  vars:
    k8s_kind: Service
    k8s_state:
      "{{ 'absent' if postgres_mode not in ['readreplicas'] else
      pgbouncer_readonly_service_state | default(postgres_state) }}"
    template: "{{ service_template }}"
    metadata_name: "{{ pgbouncer_readonly_service }}"
    service_spec: "{{ pgbouncer_readonly_service_spec }}"
  import_tasks: "{{ common_path }}/k8s/object.yml"

- name: save pgbouncer service resource definition task
  set_fact:
    k8s_pgbouncer_readonly_service: "{{ k8s_object_task }}"
