{% macro metadata() %}{% include common_path + '/metadata.j2' ignore missing %}{% endmacro %}
replicas: 1
serviceName: '{{ server_service }}'
selector:
  matchLabels:
    app: '{{ server_appname }}'
template:
  {{ metadata() | indent(width=2) }}
  spec:
    terminationGracePeriodSeconds: {{ server_term_grace_period }}
    automountServiceAccountToken: false
{% if (server_init_containers is defined and server_init_containers) or k8s_distribution == 'k8s' %}
    initContainers:
{%   if server_init_containers is defined and server_init_containers %}
    {{ server_init_containers | indent(4) }}
{%   endif %}
{%   if k8s_distribution == 'k8s' and server_export_owner_mode_set %}
    - name: 'data-dir-permissions'
      image: '{{ server_image }}'
      securityContext:
        runAsUser: 0
      command:
        - '/bin/bash'
        - '-c'
        - |
          chown {{ server_pvc_data_userid }}:{{ server_pvc_data_groupid }} '{{ server_pvc_data_mount_path }}'
          chmod {{ server_export_mode }} '{{ server_pvc_data_mount_path }}'
      volumeMounts:
      - mountPath: '{{ server_pvc_data_mount_path }}'
        name: {{ server_pvc_data }}
{%   endif %}
{% endif %}
    containers:
    - name: '{{ server_container }}'
      image: '{{ server_image }}'
      imagePullPolicy: '{{ server_image_pull_policy | default('IfNotPresent') }}'
      env:
      - name: NFS_GANESHA_CONF_DIR
        value: "{{ server_ganesha_conf_dir }}"
      - name: NFS_GANESHA_CONF_FILE
        value: "{{ server_conf_file }}"
      - name: NFS_GANESHA_CONF_EXTRA_FILE
        value: "{{ server_conf_extra_file }}"
      - name: NFS_GANESHA_CONF_NO_OVERWRITE
        value: "true"
      - name: NFS_GANESHA_GRACE_PERIOD
        value: "'{{ server_conf_grace_period }}'"
      - name: NFS_GANESHA_EXPORT_DIR
        value: "{{ server_pvc_data_mount_path }}"
      - name: NFS_GANESHA_EXPORT_ID
        value: "'{{ server_conf_export_id }}'"
      - name: NFS_GANESHA_EXPORT_SQUASH
        value: "{{ server_conf_export_squash }}"
      - name: NFS_GANESHA_EXPORT_HWMARK
        value: "{{ server_conf_export_hwmark }}"
      - name: NFS_GANESHA_LOG_LEVEL
        value: "{{ server_conf_log_level }}"
      - name: NFS_GANESHA_PORT
        value: "{{ server_port }}"
      - name: NFS_GANESHA_RQUOTA_PORT
        value: "{{ server_ganesha_rquota_port }}"
      - name: NFS_GANESHA_RUN_DIR
        value: "{{ server_ganesha_run_dir }}"
      - name: DBUS_RUN_WAIT
        value: "{{ server_dbus_separete_container }}"
{% if server_envvars is defined and server_envvars %}
{%   for server_envvar in server_envvars %}
      - name: {{ server_envvar.name }}
{%     if server_envvar.value is defined %}
        value: {{ server_envvar.value }}
{%     endif %}
{%     if server_envvar.source is defined %}
        valueFrom:
          {{ server_envvar.source | indent(10) }}
{%     endif %}
{%   endfor %}
{% endif %}
      ports:
      - name: nfs-tcp
        containerPort: {{ server_port }}
        protocol: TCP
      # Issue: https://github.com/kubernetes/kubernetes/issues/39188
      # - name: nfs-udp
      #   containerPort: {{ server_port }}
      #   protocol: UDP
{% if server_ganesha_rquota %}
      - name: rquota-tcp
        containerPort: {{ server_ganesha_rquota_port }}
        protocol: TCP
      # Issue: https://github.com/kubernetes/kubernetes/issues/39188
      # - name: rquota-udp
      #   containerPort: {{ server_ganesha_rquota_port }}
      #   protocol: UDP
{% endif %}
{% if server_command is defined and server_command %}
{%   if server_command is string %}
      command: {{ server_command }}
{%   elif server_command | type_debug == 'list' %}
      command:
      {{ server_command | to_nice_yaml(indent=2) | indent(6) }}
{%   endif %}
{% endif %}
{% if server_args is defined and server_args %}
{%   if server_args is string %}
      args: {{ server_args }}
{%   elif server_args | type_debug == 'list' %}
      args:
      {{ server_args | to_nice_yaml(indent=2) | indent(6) }}
{%   endif %}
{% endif %}
{% if server_startup_probe %}
      startupProbe:
{%   if server_startup_command is defined and server_startup_command %}
        exec:
{%     if server_startup_command is string %}
          command: {{ server_startup_command }}
{%     elif server_startup_command | type_debug == 'list' %}
          command:
          {{ server_startup_command | to_nice_yaml(indent=2) | indent(10) }}
{%     endif %}
{%   elif server_startup_path is defined and server_startup_path %}
        httpGet:
          path: '{{ server_startup_path }}'
          port: {{ server_startup_port }}
          httpHeaders:
          - name: 'Host'
            value: '{{ server_startup_host }}'
{%   elif server_startup_tcp_socket is defined and server_startup_tcp_socket %}
        tcpSocket:
          port: {{ server_startup_tcp_socket }}
{%   endif %}
        initialDelaySeconds: {{ server_startup_initial }}
        periodSeconds: {{ server_startup_period }}
        timeoutSeconds: {{ server_startup_timeout }}
        successThreshold: {{ server_startup_success }}
        failureThreshold: {{ server_startup_failure }}
{% endif %}
{% if server_readiness_probe %}
      readinessProbe:
{%   if server_readiness_command is defined and server_readiness_command %}
        exec:
{%     if server_readiness_command is string %}
          command: {{ server_readiness_command }}
{%     elif server_readiness_command | type_debug == 'list' %}
          command:
          {{ server_readiness_command | to_nice_yaml(indent=2) | indent(10) }}
{%     endif %}
{%   elif server_readiness_path is defined and server_readiness_path %}
        httpGet:
          path: '{{ server_readiness_path }}'
          port: {{ server_readiness_port }}
          httpHeaders:
          - name: 'Host'
            value: '{{ server_readiness_host }}'
{%   elif server_readiness_tcp_socket is defined and server_readiness_tcp_socket %}
        tcpSocket:
          port: {{ server_readiness_tcp_socket }}
{%   endif %}
        initialDelaySeconds: {{ server_readiness_initial }}
        periodSeconds: {{ server_readiness_period }}
        timeoutSeconds: {{ server_readiness_timeout }}
        successThreshold: {{ server_readiness_success }}
        failureThreshold: {{ server_readiness_failure }}
{% endif %}
{% if server_liveness_probe %}
      livenessProbe:
{%   if server_liveness_command is defined and server_liveness_command %}
        exec:
{%     if server_liveness_command is string %}
          command: {{ server_liveness_command }}
{%     elif server_liveness_command | type_debug == 'list' %}
          command:
          {{ server_liveness_command | to_nice_yaml(indent=2) | indent(10) }}
{%     endif %}
{%   elif server_liveness_path is defined and server_liveness_path %}
        httpGet:
          path: '{{ server_liveness_path }}'
          port: {{ server_liveness_port }}
          httpHeaders:
          - name: 'Host'
            value: '{{ server_liveness_host }}'
{%   elif server_liveness_tcp_socket is defined and server_liveness_tcp_socket %}
        tcpSocket:
          port: {{ server_liveness_tcp_socket }}
{%   endif %}
        initialDelaySeconds: {{ server_liveness_initial }}
        periodSeconds: {{ server_liveness_period }}
        timeoutSeconds: {{ server_liveness_timeout }}
        successThreshold: {{ server_liveness_success }}
        failureThreshold: {{ server_liveness_failure }}
{% endif %}
{% if server_resource_requests | bool or server_resource_limits | bool %}
      resources:
{%   if server_resource_requests | bool %}
        requests:
          cpu: '{{ server_resource_requests_cpu }}'
          memory: '{{ server_resource_requests_memory }}'
{%   endif %}
{%   if server_resource_limits | bool %}
        limits:
          cpu: '{{ server_resource_limits_cpu }}'
          memory: '{{ server_resource_limits_memory }}'
{%   endif %}
{% endif %}
      securityContext:
        allowPrivilegeEscalation: {{ server_allow_privilege_escalation | default('false') }}
        readOnlyRootFilesystem: {{ server_read_only_root_filesystem | default('true') }}
{% if server_capabilities is defined and server_capabilities %}
        capabilities:
          {{ server_capabilities | indent(10) }}
{% endif %}
{% if server_run_as_user is defined and server_run_as_user %}
        runAsUser: {{ server_run_as_user }}
{% endif %}
{% if server_security_context is defined and server_security_context %}
        {{ server_security_context | indent(8) }}
{% endif %}
      terminationMessagePolicy: "{{ server_termination_message_policy | default('FallbackToLogsOnError') }}"
      volumeMounts:
      - name: nfs-ganesha-run
        mountPath: '{{ server_ganesha_run_dir }}'
      - name: dbus-run
        mountPath: /var/run/dbus
        readOnly: true
      - name: nfs-ganesha-lib
        mountPath: '{{ server_ganesha_lib_dir }}'
      - name: nfs-ganesha-tmp
        mountPath: '{{ server_ganesha_tmp_dir }}'
      - name: ganesha-config
        mountPath: '{{ server_conf_file }}'
        subPath: ganesha.conf
      - name: ganesha-config
        mountPath: '{{ server_conf_extra_file }}'
        subPath: ganesha-extra.conf
      - name: {{ server_pvc_data }}
        mountPath: '{{ server_pvc_data_mount_path }}'
{% if server_dbus_separete_container is defined and server_dbus_separete_container %}
    - name: '{{ dbus_container }}'
      image: '{{ dbus_image }}'
      imagePullPolicy: '{{ dbus_image_pull_policy | default('IfNotPresent') }}'
{%   if dbus_command is defined and dbus_command %}
{%     if dbus_command is string %}
      command: {{ dbus_command }}
{%     elif dbus_command | type_debug == 'list' %}
      command:
      {{ dbus_command | to_nice_yaml(indent=2) | indent(6) }}
{%     endif %}
{%   endif %}
{% if dbus_args is defined and dbus_args %}
{%   if dbus_args is string %}
      args: {{ dbus_args }}
{%   elif dbus_args | type_debug == 'list' %}
      args:
      {{ dbus_args | to_nice_yaml(indent=2) | indent(6) }}
{%   endif %}
{% endif %}
      securityContext:
        allowPrivilegeEscalation: {{ dbus_allow_privilege_escalation | default('false') }}
        readOnlyRootFilesystem: {{ dbus_read_only_root_filesystem | default('true') }}
{%   if dbus_capabilities is defined and dbus_capabilities %}
        capabilities:
          {{ dbus_capabilities | indent(10) }}
{%   endif %}
{%   if dbus_run_as_user is defined and dbus_run_as_user %}
        runAsUser: {{ dbus_run_as_user }}
{%   endif %}
{%   if dbus_security_context is defined and dbus_security_context %}
        {{ dbus_security_context | indent(8) }}
{%   endif %}
      terminationMessagePolicy: "{{ dbus_termination_message_policy | default('FallbackToLogsOnError') }}"
      volumeMounts:
      - name: dbus-run
        mountPath: /var/run/dbus
      - name: dbus-lib
        mountPath: /var/lib/dbus
{% endif %}
    volumes:
    - name: nfs-ganesha-lib
      emptyDir:
    - name: nfs-ganesha-tmp
      emptyDir:
        medium: Memory
    - name: nfs-ganesha-run
      emptyDir:
        medium: Memory
    - name: dbus-run
      emptyDir:
        medium: Memory
    - name: dbus-lib
      emptyDir: {}
    - name: ganesha-config
      configMap:
        name: '{{ server_cm }}'
        defaultMode: 0664
        items:
        - key: ganesha.conf
          path: ganesha.conf
        - key: ganesha-extra.conf
          path: ganesha-extra.conf
{% if server_tolerations is defined and server_tolerations %}
    tolerations:
    {{ server_tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
{% if server_image_pull_secret is defined and server_image_pull_secret %}
    imagePullSecrets:
    - name: {{ server_image_pull_secret }}
{% endif %}
volumeClaimTemplates:
  {{ server_volume_claim_template | to_nice_yaml(indent=2) | indent(2) }}
