{% macro metadata() %}{% include common_path + '/metadata.j2' ignore missing %}{% endmacro %}
replicas: {{ 1 if server_size | int > 0 else 0 }}
strategy:
  type: Recreate
selector:
  matchLabels:
    app: '{{ server_appname }}'
serviceName: "{{ server_service }}"
template:
  {{ metadata() | indent(width=2) }}
  spec:
    terminationGracePeriodSeconds: {{ server_term_grace_period }}
    containers:
    - args:
      - nfs
      - server
      - --ganeshaConfigPath=/nfs-ganesha/config/{{ meta_name }}
      image: {{ server_image }}
      imagePullPolicy: IfNotPresent
      name: nfs-server
      ports:
      - containerPort: 2049
        name: nfs-port
        protocol: TCP
      - containerPort: 111
        name: rpc-port
        protocol: TCP
{% if server_resource_requests or server_resource_limits %}
      resources:
{% if server_resource_requests %}
        requests:
          cpu: '{{ server_resource_requests_cpu }}'
          memory: '{{ server_resource_requests_memory }}'
{% endif %}
{% if server_resource_limits %}
        limits:
          cpu: '{{ server_resource_limits_cpu }}'
          memory: '{{ server_resource_limits_memory }}'
{% endif %}
{% endif %}
      securityContext:
        capabilities:
          add:
          - SYS_ADMIN
          - DAC_READ_SEARCH
      volumeMounts:
      - mountPath: /nfs-ganesha/config
        name: {{ meta_name }}
      - mountPath: /{{ server_export_pvc }}
        name: {{ server_export_name }}
    - args:
      - nfs
      - provisioner
      - --provisioner={{ server_provisoner }}
      image: {{ server_image }}
      imagePullPolicy: IfNotPresent
      name: nfs-provisioner
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /nfs-ganesha/config
        name: {{ meta_name }}
      - mountPath: /{{ server_export_pvc }}
        name: {{ server_export_name }}
    serviceAccountName: "{{ server_sa }}"
    volumes:
    - name: {{ meta_name }}
      configMap:
        defaultMode: 420
        items:
        - key: {{ meta_name }}
          path: {{ meta_name }}
        name: {{ server_cm }}
    - name: {{ server_export_name }}
      persistentVolumeClaim:
        claimName: {{ server_export_pvc }}
{% if server_tolerations %}
    tolerations:
    {{ server_tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
