server_state: "{{ state }}"
server_appname: "{{ meta_name }}-nfs"
server_container: "nfs-server"
server_container_group: "{{ server_container.replace('-', '_') }}"

# export
server_export_name: share1
server_export_pvc: "{{ server_pvc }}"
server_export_squash: none
server_export_access_mode: ReadWrite

# pvc
server_pvc: "{{ server_appname }}-pvc"
server_pvc_storage_access_modes: ReadWriteOnce
server_pvc_size_gib: "{{ cr_status_properties.pvc.server.spec_gib | default('1') }}"
server_pvc_spec: |
  {% if server_pvc_storage_class_name is defined and server_pvc_storage_class_name %}
  storageClassName: {{ server_pvc_storage_class_name }}
  {% endif %}
  accessModes:
    - '{{ server_pvc_storage_access_modes }}'
  resources:
    requests:
      storage: '{{ server_pvc_size | default(server_pvc_size_gib + 'Gi') }}'
## enable autoexpansion
server_pvc_autoexpansion: false
### Increments in those GiB
server_pvc_autoexpansion_gib: 5
### No more than those GiB
server_pvc_autoexpansion_cap_gib: 250

# sc
server_sc: "{{ server_appname }}-sc"
server_sc_parameters:
  exportName: "{{ server_export_name }}"
  nfsServerName: "{{ server_appname }}"
  nfsServerNamespace: "{{ meta_namespace }}"
server_sc_mount_options:
  - vers=4.2
server_sc_provisioner: "nfs.rook.io/{{ server_appname }}-provisioner"
server_sc_allow_volume_expansion: false
server_sc_reclaim_policy: Delete
server_sc_volume_binding_mode: Immediate
