{% macro metadata() %}{% include common_path + '/metadata.j2' ignore missing %}{% endmacro %}
replicas: {{ moodle_size }}
selector:
  matchLabels:
    app: '{{ moodle_appname }}'
template:
  {{ metadata() | indent(width=2) }}
  spec:
    terminationGracePeriodSeconds: {{ moodle_term_grace_period }}
{% if k8s_distribution == 'k8s' %}
    initContainers:
    - name: 'data-dir-permissions'
      image: '{{ moodle_image }}'
      securityContext:
        runAsUser: 0
      command:
        - '/bin/bash'
        - '-c'
        - |
          chown ${CTR_USER_ID}:${CTR_USER_ID} '{{ moodle_data }}'
          chmod 0740 '{{ moodle_data }}'
      volumeMounts:
      - mountPath: '{{ moodle_data }}'
        name: moodledata
{% endif %}
    containers:
    - name: '{{ moodle_container }}'
      image: '{{ moodle_image }}'
      env:
        - name: PHP_FPM_LISTEN_ALLOWED_CLIENTS
          value: any
        - name: PHP_FPM_PROCESS_CONTROL_TIMEOUT
          value: '{{ php_fpm_config_process_control_timeout }}'
        - name: MOODLE_CONFIG_DIR
          value: '{{ moodle_config_path }}'
      ports:
      - containerPort: 9000
      imagePullPolicy: IfNotPresent
      args: {{ moodle_container_args }}
{% if moodle_readiness_probe %}
      readinessProbe:
        exec:
          command: {{ moodle_readiness_command }}
        initialDelaySeconds: {{ moodle_readiness_initial }}
        periodSeconds: {{ moodle_readiness_period }}
        timeoutSeconds: {{ moodle_readiness_timeout }}
        successThreshold: {{ moodle_readiness_success }}
        failureThreshold: {{ moodle_readiness_failure }}
{% endif %}
{% if moodle_liveness_probe %}
      livenessProbe:
        exec:
          command: {{ moodle_liveness_command }}
        initialDelaySeconds: {{ moodle_liveness_initial }}
        periodSeconds: {{ moodle_liveness_period }}
        timeoutSeconds: {{ moodle_liveness_timeout }}
        successThreshold: {{ moodle_liveness_success }}
        failureThreshold: {{ moodle_liveness_failure }}
{% endif %}
{% if moodle_resource_requests or moodle_resource_limits %}
      resources:
{% if moodle_resource_requests %}
        requests:
          cpu: '{{ moodle_resource_requests_cpu }}'
          memory: '{{ moodle_resource_requests_memory }}'
{% endif %}
{% if moodle_resource_limits %}
        limits:
          cpu: '{{ moodle_resource_limits_cpu }}'
          memory: '{{ moodle_resource_limits_memory }}'
{% endif %}
{% endif %}
      volumeMounts:
      - mountPath: '{{ moodle_data }}'
        name: moodledata
      - mountPath: {{ moodle_config_path }}
        name: config-php
        readOnly: true
    volumes:
    - name: moodledata
      persistentVolumeClaim:
        claimName: '{{ moodle_pvc_moodledata }}'
    - name: config-php
      secret:
        secretName: '{{ moodle_secret }}'
        items:
        - key: config.php
          path: config.php
{% if moodle_tolerations %}
    tolerations:
    {{ moodle_tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
{% if moodle_image_pull_secret  %}
    imagePullSecrets:
    - name: {{ moodle_image_pull_secret }}
{% endif %}
