- name: (nfs) ganesha server resource definitions
  vars:
    name: nfs-ganesha
    k8s_state: "{{ ganesha_state }}"
    component: nfs
    metadata_app: "{{ ganesha_appname }}"
  block:
    - import_tasks: resource/cm.yml

    - import_tasks: resource/svc.yml

    - import_tasks: resource/sts.yml

    - import_tasks: resource/vpa.yml
      when: ganesha_vpa_spec is defined and ganesha_vpa_spec

    - import_tasks: resource/sc-generated.yml
      when: ganesha_generated_nfs_sc_needed

    - import_tasks: resource/routine.yml

    - import_tasks: "{{ common_path }}/cleanup-resources.yml"
      vars:
        cleanup_label_selector: "app={{ metadata_app }}"
        cleanup_kind_list:
          - PersistentVolumeClaim
