- name: (nfs) ganesha server routine resource definition
  vars:
    k8s_kind: Routine
    k8s_state: "{{ 'absent' if cr_state == 'suspended' else ganesha_routine_state | default(ganesha_state) }}"
    template: "{{ routine_template }}"
    metadata_name: "{{ ganesha_routine }}"
    annotations: "{{ inventory_annotation_extra_cr_cwd + (ganesha_routine_annotations | default('')) }}"
    routine_spec: "{{ ganesha_routine_spec }}"
  import_tasks: "{{ common_path }}/k8s/object.yml"

- name: save (nfs) ganesha server routine resource definition task
  set_fact:
    k8s_ganesha_routine: "{{ k8s_object_task }}"
