- name: set successful status
  import_tasks: "{{ common_path }}/routine/status.yml"
  vars:
    routine_status_cr_notify_force: true
    routine_k8s_status_properties:
      ready: "True"
      state: Ready
      service: "{{ pgbouncer_service + '.' + meta_namespace }}"
      serviceReadOnly: "{{ pgbouncer_readonly_service + '.' + meta_namespace
        if postgres_mode == 'readreplicas' else '' }}"
    routine_k8s_status_conditions:
      - type: "Ready"
        status: "True"
        reason: "Successful"
        message: "All tasks completed successfully"
