apiVersion: nfs.rook.io/v1alpha1
kind: NFSServer
{% include common_path + '/metadata.j2' ignore missing %}
spec:
  replicas: 1
  exports:
    - name: "{{ server_export_name }}"
      server:
        accessMode: "{{ server_export_access_mode }}"
        squash: "{{ server_export_squash }}"
      # A Persistent Volume Claim must be created before creating NFS CRD instance.
      persistentVolumeClaim:
        claimName: {{ server_export_pvc }}
