- name: set successful status
  import_tasks: "{{ common_path }}/k8s/status.yml"
  vars:
    k8s_status_properties:
      ready: "True"
      state: Ready
    k8s_status_conditions:
      - type: "Ready"
        status: "True"
        reason: "Successful"
        message: "All tasks completed successfully"
